<div class="container">
  <div class="row">
    <div class="col1of2 prs">
      <div class="flash-message info mvm">
        This is demo application for <a href="https://github.com/railsware/smt_rails">smt_rails gem</a> (Shared Mustache Templates).<br />
        <a href="http://blog.railsware.com/2012/04/12/shared-mustache-templates-for-rails-3/">Get more info &rarr;</a>
      </div>
    </div>
    <div class="col1of2 pls">
      <div class="flash-message info mvm">
        This is demo application for <a href="https://github.com/railsware/sht_rails">sht_rails gem</a> (Shared Handlebars Templates).<br />
        <a href="http://blog.railsware.com/2012/04/12/shared-mustache-templates-for-rails-3/">Get more info &rarr;</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col1of2 prs">
      <div class="content">
        <div class="phl pvm">
          <h1 class="mbm">Listing products using Mustache</h1>
          <div id="products" data-json-url="<%= products_url(format: :json) %>">
            <% @products.each do |product| %>
            <%= render "products/product", mustache: product_template_smt(product) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col1of2 pls">
      <div class="content">
        <div class="phl pvm">
          <h1 class="mbm">Listing products using Handlebars</h1>
          <div id="productsSht">
            <% @products.each do |product| %>
            <%= render "sht/product", handlebars: product_template_sht(product), partials: {product_description: (render "sht/product_description")} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- inline example mustache -->
<script id="entry-template" type="text/x-mustache-template">
  <%= render "products/product" %>
</script>
<!-- inline example handlebars -->
<script id="entry-template" type="text/x-handlebars-template">
  <%= render "sht/product" %>
</script>